  #master{
    position: relative;
    display: inline-block;
    color: #1717A9;
    text-decoration: underline;
    cursor: hand;
  }
  
  #float{
    position: absolute;
    background: #EFEFEF;
    padding: 10px;
    border: 1px solid #CCC;
  }
  
  textarea{
    width: 95%;
    height: 500px;
    margin: 10px;
    margin-top:0px;
  }
  
  #saves{
    height: 100px
  }
  
  .buttons{
    margin: auto;
    border: 1px solid #ccc;
    width: 95%;
  }
  
  .lore{
    margin: 10px;
    margin-top: 25px;
    background: #EFEFEF;
    border: 1px solid #CCC;
    padding: 10px;
  }
  
  .part{
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  
  span{
    display: inline-block;
    width: 95%;
    border: 1px solid #CCC;
    padding: 10 0 10 0;
    height: 30px;
    border-bottom: none;
  }
  
  body{
    margin-top: 25px;
    font-family: "Arial";
    font-size: 13px;
  }
  
  .viewEdit{
    width: 95%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
  }
  
  .viewEdit div{
    padding-left: 25px;
  }
  
  #savesPanel{
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 1px solid #CCC;
    padding-top: 25px;
    padding-bottom: 25px;
    position: absolute;
    top: 45%;
    background: #EFEFEF;
  }
  
  #savesPanel input{
    float: left;
    margin-left: 2.5%;
    margin-bottom: 25px;
  }
  
  .close{
    float: right;
    border: none;
    display: initial;
    width: initial;
    height: initial;
    padding: initial;
    padding-right: 25px;
    cursor: hand;
  }
